.container{
    display: flex;
    padding-left: 2rem;
    gap:1rem;
    align-items: center;
    height: 3rem;
    border-bottom: grey 3px double;
    margin-bottom:1rem ;
    .selectedButton{
        color:red
    }
    button{
        height: 100%;
        background:none;
        border: none;
        cursor: pointer;
    }
}